:root {
  --primary: #66fcf1;
  --primary-text: #66fcf1;
  /* --secondary: #fff; */
  --secondary: #66fca6;
  --buttonText: #fff;
  --bcg-color: #1f2833;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-text);
  background-color: var(--bcg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

li {
  font-size: 1.5rem;
  padding-left: 1em;
}

.hide {
  /* display: none; */
  visibility: hidden;
}

table {
  margin: auto;
  font-size: 1.5em;
}

td {
  text-align: center;
  padding: 5px 5px;
}

td:first-child {
  text-align: left;
  padding-right: 1em;
  font-size: 0.8em;
  opacity: 80%;

  color: var(--secondary);
}

.result {
  font-weight: bold;
}

button {
  /* background-color: var(--primary); */
  background: none;
  color: var(--buttonText);
  border: none;
  padding: 0.5em 1em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 1em auto;
  border-radius: 0.5em;
  border: 1px solid var(--primary);
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

label {
  max-width: 200px;
  align-self: center;
}

input {
  align-self: center;
  text-align: center;
  max-width: 100px;
  background: none;
  color: var(--buttonText);
  border: none;
  padding: 0.5em 1em;
  font: inherit;
  outline: inherit;
  border-radius: 0.5em;
  border: 1px solid var(--primary);
  margin: 0.5em 0 0.2em 0;
}

input:increment {
  color: red;
}

.settings {
  display: flex;
  align-self: center;
  margin-bottom: 0;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.row {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.operands {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  align-items: stretch;
}

.operands * {
  margin-right: auto;
}

.operands * input {
  margin-right: 0.2em;
}

hr {
  width: 80%;
  max-width: 400px;
  border-color: var(--primary);
}

.test-section {
  margin: 0 auto;
}

.test-section-input {
  margin: 0 auto;
}

#output {
  max-height: 30px;
}

img {
  height: 30px;
  margin: 0 1px;
}

@media screen and (max-width: 500px) {
  img {
    height: 20px;
  }
}
